/* Estilos para el botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

/* Estilo para la imagen de WhatsApp */
.whatsapp-icon {
  width: 50px; /* Ajusta el tamaño de la imagen según sea necesario */
  height: auto; /* Ajusta la altura automáticamente en proporción */
}

/* Estilos para hover del botón */
.whatsapp-button:hover {
  transform: rotate(360deg);
}
