.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25D366;
  color: white;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-decoration: none;
  transition: transform 0.5s ease-in-out;
}

.whatsapp-button:hover {
  background-color: #1ebd59;
  color: white;
  transform: rotate(360deg);
}

/* Media query para pantallas más pequeñas */
@media (max-width: 600px) {
  .whatsapp-button {
      width: 50px;
      height: 50px;
      bottom: 10px;
      right: 10px;
  }
}

/* Media query para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .whatsapp-button {
      width: 60px;
      height: 60px;
      bottom: 15px;
      right: 15px;
  }
}
