.Login-component {
  background-image: url(/src/assets/img/fondoBody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.Login-component .row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  margin-bottom: 120px;
}

.Login-component .form-container {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.Login-component .colm-form {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Login-component .colm-form .form-container {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 600px;
}

.Login-component .colm-form .form-container input, 
.Login-component .colm-form .form-container .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.Login-component .colm-form .form-container input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.Login-component .colm-form .form-container input:focus {
  border-color: #333;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.Login-component .colm-form .form-container .btn-login {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.Login-component .colm-form .form-container .btn-login:hover {
  background-color: #36a420;
}

.Login-component .colm-form .form-container a {
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 20px;
  border-bottom: 1px solid #dadde1;
}

.Login-component .colm-form .form-container a:hover {
  text-decoration: underline;
}

.register-message {
  margin-top: 10px;
}

.Login-component .colm-form .form-container .btn-new {
  background-color: #333;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 0px;
  transition: background-color 0.3s ease;
}

.Login-component .colm-form .form-container .btn-new:hover {
  background-color: #555;
}

.Login-component .colm-form p {
  font-size: 14px;
}

.Login-component .colm-form p a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

.Login-component .colm-form p a:hover {
  text-decoration: underline;
}
