/* Login.css */

.Login-container {
    background-image: url(/src/assets/img/Fondo-galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main-login-content {
    max-width: 60% !important;
    padding: 120px !important; /* Añadir relleno */
    color: #333333; /* Color del texto principal */
    background-color: rgba(255, 255, 255, 0.4); /* Transparencia del fondo */
  }
  
  .login-form {
    margin-top: 20px; /* Espacio superior */
  }
  
  .form-label {
    font-weight: bold; /* Texto en negrita */
    color: #333333; /* Color del texto */
  }
  
  .text-danger {
    color: #dc3545; /* Color del mensaje de error */
  }
  
  .text-success {
    color: #28a745; /* Color del mensaje de éxito */
  }
  
  .btn-primary {
    background-color: #007bff; /* Color de fondo del botón */
    border-color: #007bff; /* Color del borde del botón */
  }
  
  .btn-primary:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
    border-color: #0056b3; /* Color del borde del botón al pasar el ratón */
  }
  