.LocationPage-component-page {
  background-image: url('/src/assets/img/fondoBody.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-location-content-page {
  max-width: 100%;
  margin: auto;
  padding: 80px;
  color: #333333;
}

.subtitle-location-page {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  padding: 30px 0;
  margin-bottom: 10px;
}

.maps-container-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.location-section-page {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333333;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}

.location-section-page h3 {
  font-size: 2vw;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.2); /* Color #333333 con 20% de opacidad */
  padding: 10px;
  border: 1px solid black; /* Agrega un borde de 2px con color negro */
  border-radius: 4px;
}


.location-section-page p {
  font-size: 1.5vw;
  margin: 5px 0;
  color: #666;
}

.map-container-page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.map-container-page iframe {
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333333;
  border: 5px solid #ddd;
}
