.LocationPage-component-page {
  background-image: url('/src/assets/img/fondoBody.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-location-content-page {
  max-width: 100%;
  margin: auto;
  padding: 80px;
  color: #333333;
}

.subtitle-location-page {
  font-size: 3vw; /* tamaño base */
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-top: 100px; /* Ajuste del padding superior */
  margin-bottom: 30px; /* Espacio inferior */
}

.ball-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-icons {
  margin: 0 10px;
  font-size: 3vw; /* Asegúrate de que este tamaño coincida con el texto */
}

.ball-icons img {
  width: 1em; /* Ajusta el tamaño de la imagen para que coincida con el tamaño del texto */
  height: auto; /* Mantiene la proporción de la imagen */
  display: inline-block; /* Asegura que la imagen se alinee correctamente con el texto */
}
.maps-container-page {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.location-section-page {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333333;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}

.location-section-page h3 {
  font-size: 2vw;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.2); /* Color #333333 con 20% de opacidad */
  padding: 10px;
  border: 1px solid black; /* Agrega un borde de 2px con color negro */
  border-radius: 4px;
}


.location-section-page p {
  font-size: 1.5vw;
  margin: 5px 0;
  color: #666;
}

.map-container-page {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.map-container-page iframe {
  border-radius: 10px;
  box-shadow: 1px 1px 5px #333333;
  border: 5px solid #ddd;
}
@-webkit-keyframes rollInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes rollInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
  -webkit-animation-duration: 1s; /* Duración de la animación */
  animation-duration: 1s; /* Duración de la animación */
  -webkit-animation-fill-mode: both; /* Mantiene los estilos de la animación */
  animation-fill-mode: both; /* Mantiene los estilos de la animación */
}