.container-principal {
  background-image: url(/src/assets/img/fondoBody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* Asegura que el contenedor ocupe al menos toda la altura de la pantalla */
}

.content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo de video */
  padding-bottom: 100px; /* Añade espacio en la parte inferior para el botón de "Cómo reservar?" */
}

.title-principal {
  font-size: 4vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  color: #305e34fa;
  padding-top: 100px; /* Ajuste del padding superior */
  margin-bottom: 30px; /* Espacio inferior */
}

.content-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px auto;
  max-width: 90%;
}
.side-container-principal {
  width: 50%;
}

.form-container-principal {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.selector,
.input-date {
  background-color: #dde5ff; /* Color de fondo */
  font-size: 16px; /* Tamaño de fuente */
  padding: 10px; /* Espaciado interno */
  border: none; /* Quita el borde por defecto */
  border-radius: 5px; /* Borde redondeado */
  margin-bottom: 10px; /* Espacio inferior entre elementos */
}

.btn-how-register {
  background-color: #305e34fa; /* Color de fondo del botón */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Quita el borde por defecto */
  border-radius: 5px; /* Borde redondeado */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.btn-how-register:hover {
  background-color: #1e451fff; /* Color de fondo al pasar el cursor */
}

.how-register-section {
  background-color: #f2f2f2;
  width: 50%;
  padding: 20px;
  text-align: center;
  margin: 50px auto; /* Centra la sección horizontalmente */
  border-radius: 10px;
  box-shadow: 0 0 20px #000; /* Sombra */
}

.how-register-title {
  font-size: 2.5vw; /* Tamaño de fuente del título */
  font-weight: bold; /* Negrita */
  color: #305e34fa; /* Color del texto */
}

.how-register-content {
  font-size: 1.2vw; /* Tamaño de fuente del contenido */
  line-height: 1.6; /* Altura de línea */
  color: #333; /* Color del texto */
  max-width: 800px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
}
@media (max-width: 768px) {
  .title-principal {
    font-size: 6vw;
  }

  .content-section {
    flex-direction: column;
    align-items: center;
  }

  .form-container-principal,
  .price-container {
    width: 90%;
    margin: auto;
    margin-top: 10px;
  }

  .side-container-principal {
    width: 90%;
    text-align: center; /* Centra el contenido del lado en pantallas pequeñas */
  }

  .selector,
  .input-date {
    font-size: 1.5vw;
  }

  .btn-how-register {
    margin: 20px auto; /* Centro el botón horizontalmente y le agrego margen superior */
  }

  .how-register-title {
    font-size: 4vw;
  }

  .how-register-content {
    font-size: 1.5vw;
  }
}
