.container {
  position: relative;
  overflow: hidden;
  background-color: hsl(177, 64%, 55%); /* Establece un fondo blanco para el contenido */
  padding: 20px; /* Añade espacio alrededor del contenido */
  border-radius: 10px; /* Añade bordes redondeados */
}

.content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo de video */
}



body {
  margin: 0; /* Elimina el margen predeterminado del cuerpo */
  padding: 0; /* Elimina el relleno predeterminado del cuerpo */
  background-image: url("/src/assets/img/futbol1.png");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
}
