
.container-principal {
  background-image: url(/src/assets/img/Fondo-galeria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.content {
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del fondo de video */
  height: auto;
  margin-bottom: 150px;
  padding-bottom: 150px;
}

.title-principal{
  font-size: 4vw;
  font-weight: bolder;
  display:flex;
  justify-content: center;
  color:#305e34fa;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  font-size: 1.5vw;
  margin: 0 auto; /* Esto centrará el contenedor horizontalmente */
  margin-top: 100px; /* Puedes ajustar este valor según la posición vertical deseada */
  padding-left: 20px; /* Relleno interno a la izquierda */
  padding-right: 20px; /* Relleno interno a la derecha */
  color: black;
  background: rgb(255, 255, 255);
  background: linear-gradient(98deg, rgb(227, 238, 238) 0%, rgb(146, 197, 150) 100%);
  border-color: rgb(235, 50, 50) ;
}

.selector{
  background-color: rgb(221, 221, 255);
  font-size: 0.8vw;

  
}
