/* Estilos generales */
.Services-container {
  /* background-image: url('/src/assets/img/2.2.jpg'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center; /* Centra verticalmente el contenido */
  height: 100vh; /* Ajusta la altura al 100% de la ventana gráfica */
}

.container-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 60%; /* Contenedor al 60% del contenedor padre */
  margin: 0 auto;
}

.Services-title {
  color: #014638;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sombra de texto */
  margin-top: 50px;
  padding-bottom: 100px;
  font-size: 4vw;
  font-weight: bolder;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; /* Reduce el padding para evitar desbordamientos */
}
.card-section .col {
  display: flex;
  justify-content: center;
}

.box-1 {
  background-color: #258D19;
  max-width: 250px;
  height: 200px; /* Altura de la caja */
  border-radius: 10px; /* Borde redondeado */
  align-items: center; /* Centrar verticalmente el contenido */
  color: #ececec; /* Color del texto */
  font-weight: bolder;
  justify-content: center; /* Centrar horizontalmente el contenido */
  margin: 5px; /* Espacio entre las cajas */
  padding: 10px; /* Reduce el padding interno de cada tarjeta */
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.box-1:hover {
  transform: scale(1.05);
}

.content-container img {
  width: 80px; /* Reduce el tamaño de las imágenes */
  height: auto; /* Mantén la proporción de la imagen */
  display: block;
  margin: 0 auto 10px; /* Centra la imagen horizontalmente y añade un margen inferior */
}

h3, h4 {
  margin: 10px 0;
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 1083px) {
  .container-card {
    width: 90%; /* Ensancha el contenedor para pantallas pequeñas */
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }

  .box-1 {
max-width: none;

  }

  .Services-container {
    height: auto; /* Ajusta la altura automáticamente */
  }
  .Services-title{
    font-size: 4vw;
  }
}
@media (max-width: 767px) {
  .card-section {
    flex-direction: row; /* Mantén las tarjetas en filas */
    flex-wrap: wrap;
  }

  .card-section .col {
    width: 50%; /* Ajusta el ancho al 50% para dos columnas */
    padding: 10px;
  }
  .Services-title{
    font-size: 6vw;
  }
}

@media (max-width: 480px) {
  .card-section .col {
    width: 100%; /* Ajusta el ancho al 100% para una columna */
    padding: 10px;
  }
  .Services-title{
    font-size: 7.5vw;
  }
}