/* Estilos generales */
.Services-container {
  background-image: url('/src/assets/img/2.2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
  height: 100vh; /* Ajusta la altura al 100% de la ventana gráfica */
}

.container-card {
  text-align: center;
  width: 60%; /* Contenedor al 60% del contenedor padre */
  margin: 0 auto;
}

.Services-title {
  color: #014638;
  margin-top: 150px;
  padding-bottom: 50px;
  font-size: 3vw;
  font-weight: bolder;
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px; /* Reduce el padding para evitar desbordamientos */
}

.box-1 {
  display: flex; /* Uso de flexbox para centrar el contenido verticalmente */
  flex-direction: column;
  background-color: #258D19;
  width: 150px;
  height: 200px; /* Altura de la caja */
  border-radius: 10px; /* Borde redondeado */
  align-items: center; /* Centrar verticalmente el contenido */
  color: #014638; /* Color del texto */
  font-weight: bolder;
  justify-content: center; /* Centrar horizontalmente el contenido */
  margin: 5px; /* Espacio entre las cajas */
  padding: 10px; /* Reduce el padding interno de cada tarjeta */
  border: 1px solid #ddd;
  transition: transform 0.3s;
}

.box-1:hover {
  transform: scale(1.05);
}

.content-container img {
  width: 80px; /* Reduce el tamaño de las imágenes */
  height: auto; /* Mantén la proporción de la imagen */
  display: block;
  margin: 0 auto 10px; /* Centra la imagen horizontalmente y añade un margen inferior */
}

h3, h4 {
  margin: 10px 0;
}

/* Media query para pantallas de 768px o menos */
@media (max-width: 768px) {
  .container-card {
    width: 90%; /* Ensancha el contenedor para pantallas pequeñas */
  }

  .box-1 {
    flex: 0 0 48%; /* 2 tarjetas por fila en pantallas pequeñas */
    margin: 10px; /* Ajusta el margen para un mejor espaciado */
  }

  .Services-container {
    height: auto; /* Ajusta la altura automáticamente */
  }
}

/* Media query para pantallas de 500px o menos */
@media (max-width: 500px) {
  .container-card {
    width: 100%; /* Ensancha el contenedor para pantallas más pequeñas */
  }

  .box-1 {
    flex: 0 0 100%; /* 1 tarjeta por fila en pantallas muy pequeñas */
    margin: 10px 0; /* Ajusta el margen verticalmente */
  }

  .content-container img {
    width: 50px; /* Ajusta el tamaño de las imágenes para pantallas más pequeñas */
  }

  .Services-container {
    height: auto; /* Ajusta la altura automáticamente */
  }
}
