.error-404 {
    text-align: center;
    padding: 50px;
  }
  
  .header {
    position: relative;
    width: 100%;
    padding: 20px 0;
    background-color: #f8f9fa; /* Fondo para el header */
  }
  
  .content {
    padding: 20px;
  }
  
  .main-content {
    margin-top: 50px;
  }
  
  .error-404 h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .error-404 img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .error-404 a {
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
  }
  
  .error-404 a:hover {
    text-decoration: underline;
  }
  