.table-price {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background: rgb(14, 101, 102);
    background: linear-gradient(98deg, rgb(227, 238, 238) 0%, rgb(146, 197, 150) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
  }
  
  .table-price h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2vw;
    color: #305e34fa;
  }
  
  .table-price table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 8px;
    margin-bottom: 1rem;
    font-size: 1vw;
    font-weight: bolder;
  }
  
  .table-price th,
  .table-price td {
    padding: 0.75rem;
    text-align: center;
    border-radius: 8px;
    font-size: 1.3vw;
  }
  
  .table-price th , td {
    background-color: #305e34fa;
    font-weight: bold;
    
    color: rgb(2, 2, 2);
  }
  
  .table-price td {
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #ddd;
  }
  