.EcommercePage-component {
  background-image: url('/src/assets/img/Fondo-galeria.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #333;
}

.floating-cart-button {
  position: fixed;
  top: 120px; /* Posición original */
  right: 20px; 
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15px;
  font-size: 0.5vw;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, transform 0.3s;
}

.floating-cart-button:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.main-ecommerce-content {
  max-width: 90%;
  margin: auto;
  padding: 100px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.4);
}

.subtitle-ecommerce {
  font-size: 2.5vw;
  font-weight: bold;
  text-align: center;
  padding-top: 100px;
  margin-bottom: 10px; /* Elimina el margen predeterminado */
}

.ball-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-icons {
  margin: 0 10px;
  /* Otros estilos para las bolas de íconos */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  background-color: rgba(255, 255, 255, 0.9);
  border: 5px solid #ddd;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  max-width: 400px;
  text-align: center;
  transition: transform 0.3s, border-color 0.3s;
  cursor: pointer;
}

.product-item:hover {
  transform: scale(1.05);
  border-color: #007bff;
}

.product-item img {
  max-width: 100%;
  border-radius: 10px;
}

.product-item h2 {
  font-size: 1.3vw;
  margin: 10px 0;
}

.product-item p {
  font-size: 1vw;
  color: #666;
}

.product-item input {
  width: 60px;
  padding: 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.product-item button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-item button:hover {
  background-color: #0056b3;
}
/* Media Queries para ajustar el tamaño del título en diferentes pantallas */
@media (max-width: 1200px) {
  .subtitle-ecommerce {
    font-size: 2.5vw; /* Tamaño base para pantallas grandes */
  }
}

@media (max-width: 992px) {
  .subtitle-ecommerce {
    font-size: 3vw; /* Tamaño para pantallas medianas */
  }
}

@media (max-width: 768px) {
  .subtitle-ecommerce {
    font-size: 3.5vw; /* Tamaño para pantallas pequeñas */
  }

  .main-ecommerce-content {
    padding-top: 60px;
  }

  .product-item h2 {
    font-size: 2.5vw;
  }

  .product-item p {
    font-size: 2vw;
  }
}

@media (max-width: 576px) {
  .subtitle-ecommerce {
    font-size: 4vw; /* Tamaño para pantallas extra pequeñas */
  }

  .product-item {
    width: 100%; /* Ocupan todo el ancho disponible */
  }

  .product-item h2 {
    font-size: 3vw;
  }

  .product-item p {
    font-size: 2.5vw;
  }
}

@media (max-width: 400px) {
  .subtitle-ecommerce {
    font-size: 4.5vw; /* Tamaño para pantallas muy pequeñas */
  }

  .product-item {
    margin: 10px 0;
  }

  .product-item h2 {
    font-size: 3.5vw;
  }

  .product-item p {
    font-size: 3vw;
  }
}
@-webkit-keyframes rollInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes rollInRight {
  0% {
      opacity: 0;
      -webkit-transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
      transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }

  100% {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
      transform: translate3d(0, 0, 0) rotate3d(0, 0, 1, 0deg);
  }
}

.rollInRight {
  -webkit-animation-name: rollInRight;
  animation-name: rollInRight;
  -webkit-animation-duration: 1s; /* Duración de la animación */
  animation-duration: 1s; /* Duración de la animación */
  -webkit-animation-fill-mode: both; /* Mantiene los estilos de la animación */
  animation-fill-mode: both; /* Mantiene los estilos de la animación */
}