.PaymentForm-component {
  background-image: url('/src/assets/img/Fondo-galeria.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.payment-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-top: 70px;
  margin: 0;
  margin-bottom: 15px;
}

.payment-form,
.delivery-form {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Reduce el padding para celus */
  background-color: rgba(146, 197, 150, 0.8); /* Fondo con transparencia */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra más pronunciada */
  margin-bottom: 20px;
}

.payment-form h2,
.delivery-form h2 {
  margin-bottom: 15px;
  font-size: 20px; 
}

.payment-form .form-group,
.delivery-form .form-group {
  margin-bottom: 8px; /* Reduce el margen inferior */
}

.payment-form .form-group label,
.delivery-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.payment-form .form-group input,
.delivery-form .form-group input,
.delivery-form .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.payment-form .form-group input.cvv-input {
  width: 15%; /* Ajusta el tamaño para 3 dígitos en celus */
}

.payment-form .cvv-group {
  display: flex;
  flex-direction: column;
}

.payment-form .cvv-help-image {
  width: 100%;
  padding: 10px;
  height: auto;
  margin-top: 10px;
}

.form-group.inline-group {
  display: flex;
  justify-content: space-between;
}

.inline-item {
  flex: 1;
  margin-right: 10px;
}

.inline-item:last-child {
  margin-right: 0;
}

.inline-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.inline-item input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}


.payment-form .delivery-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.payment-form button,
.delivery-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.payment-form button:hover,
.delivery-form button:hover {
  background-color: #0056b3;
}

.cart-item p {
    font-weight: bold;
    margin: 5px 0
}
.cart-summary {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Reduce el padding para celus */
  background-color: rgba(146, 197, 150, 0.8); /* Fondo con transparencia */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra más pronunciada */
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cart-summary h2 {
  margin-bottom: 15px;
  font-size: 20px; /* Reduce el tamaño de fuente para celus */
}

.cart-summary .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.cart-summary .cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.cart-summary th,
.cart-summary td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

.cart-summary th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.cart-summary .total-price,
.cart-summary .delivery-cost {
  margin-top: 10px; /* Reduce el margen superior */
  font-size: 16px; /* Reduce el tamaño de fuente */
  font-weight: bold;
  text-align: right;
}

.delivery-form .character-count {
  text-align: right;
  font-size: 12px;
  color: #999;
  margin-top: -10px;
}

.delivery-form .no-street-number {
  display: flex;
  align-items: center;
}

/* Estilo para el input "Sin Número" */
.no-street-number {
  display: flex;
  align-items: center;
}

.no-street-number input[type="checkbox"] {
  margin-left: 10px; /* Agrega margen derecho al checkbox */
}

/* Media Queries */
@media (min-width: 768px) {
  .payment-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
  }

  .payment-form,
  .delivery-form,
  .cart-summary {
    margin-bottom: 0;
    padding: 20px;
    flex: 1;  
  }

  .payment-form h2,
  .delivery-form h2 {
    font-size: 24px; /* Restablece el tamaño de fuente para pantallas más grandes */
  }
  .payment-form {
    order: 2; /* Mantiene el formulario de pago en el medio */
  }

  .cart-summary {
    order: 1; /* Coloca el resumen del carrito primero */
  }

  .delivery-form {
    order: 3; 
  }
  .payment-form .cvv-group {
    flex-direction: row;
    align-items: center;
  }

  .payment-form .cvv-help-image {
    margin-top: 0;
    width: 200px;
  }

  .payment-form .delivery-options {
    flex-direction: row;
  }

  .cart-summary {
    padding: 20px; /* Restablece el padding para pantallas más grandes */
  }

  .cart-summary h2 {
    font-size: 24px; /* Restablece el tamaño de fuente para pantallas más grandes */
  }

  .cart-summary .cart-item {
    margin-bottom: 15px; /* Restablece el margen inferior para pantallas más grandes */
  }

  .cart-summary .total-price,
  .cart-summary .delivery-cost {
    margin-top: 20px; /* Restablece el margen superior */
    font-size: 18px; /* Restablece el tamaño de fuente */
  }
}
