.PaymentForm-component {
  background-image: url('/src/assets/img/Fondo-galeria.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.payment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px; /* Ajusta el padding para celus */
  margin: 0; 
}

.payment-form,
.delivery-form {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Reduce el padding para celus */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.payment-form h2,
.delivery-form h2 {
  margin-bottom: 15px;
  font-size: 20px; 
}

.payment-form .form-group,
.delivery-form .form-group {
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.payment-form .form-group label,
.delivery-form .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.payment-form .form-group input,
.delivery-form .form-group input,
.delivery-form .form-group textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.payment-form .form-group input.cvv-input {
  width: 15%; /* Ajusta el tamaño para 3 dígitos en celus */
}

.payment-form .cvv-group {
  display: flex;
  flex-direction: column;
}

.payment-form .cvv-help-image {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.payment-form .delivery-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.payment-form button,
.delivery-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  font-size: 16px;
}

.payment-form button:hover,
.delivery-form button:hover {
  background-color: #0056b3;
}

.cart-summary {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Reduce el padding para celus */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  margin-bottom: 15px;
  font-size: 20px; /* Reduce el tamaño de fuente para celus */
}

.cart-summary .cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Reduce el margen inferior */
}

.cart-summary .cart-item img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.total-price,
.delivery-cost {
  margin-top: 10px; /* Reduce el margen superior */
  font-size: 16px; /* Reduce el tamaño de fuente */
  font-weight: bold;
  text-align: right;
}

.delivery-form .character-count {
  text-align: right;
  font-size: 12px;
  color: #999;
  margin-top: -10px;
}

.delivery-form .no-street-number {
  display: flex;
  align-items: center;
}

.delivery-form .no-street-number input {
  margin-left: 10px;
}

/* Media Queries */
@media (min-width: 768px) {
  .payment-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 100px;
  }

  .payment-form,
  .delivery-form {
    margin-bottom: 0;
    padding: 20px; /* Restablece el padding para pantallas más grandes */
  }

  .payment-form h2,
  .delivery-form h2 {
    font-size: 24px; /* Restablece el tamaño de fuente para pantallas más grandes */
  }

  .payment-form .cvv-group {
    flex-direction: row;
    align-items: center;
  }

  .payment-form .cvv-help-image {
    margin-top: 0;
    width: 200px;
  }

  .payment-form .delivery-options {
    flex-direction: row;
  }

  .cart-summary {
    padding: 20px; /* Restablece el padding para pantallas más grandes */
  }

  .cart-summary h2 {
    font-size: 24px; /* Restablece el tamaño de fuente para pantallas más grandes */
  }

  .cart-summary .cart-item {
    margin-bottom: 15px; /* Restablece el margen inferior para pantallas más grandes */
  }

  .total-price,
  .delivery-cost {
    margin-top: 20px; /* Restablece el margen superior */
    font-size: 18px; /* Restablece el tamaño de fuente */
  }
}
