.modal-content {
  padding: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.cart-item div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-item h3 {
  margin: 0;
  font-size: 1.2em;
}

.cart-item p {
  margin: 5px 0;
}

.cart-item button {
  margin-right: 10px;
  padding: 5px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  align-items: center;
  width:auto; /* Asegura que los botones no ocupen todo el ancho */
}

.cart-item button:hover {
  background-color: #0056b3;
}

.shopping-cart {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  display: none; /* Ocultar el carrito por defecto */
  width: 90%;
  max-width: 800px;
  overflow-y: auto; /* Para manejar el desbordamiento vertical */
}

.shopping-cart.show {
  display: block; /* Mostrar el carrito cuando la clase "show" está presente */
}

.cart-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-footer button {
  padding: 5px 10px; /* Reduce el padding para hacer los botones más pequeños */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%; /* Botones ocupan el 30% del ancho */
  margin: 10px auto; /* Centramos los botones horizontalmente y agregamos un margen vertical */
  display: block; /* Asegura que el margen auto funcione correctamente */
}

.cart-footer button:hover {
  background-color: #0056b3;
}

.close-cart {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px; /* Cambia la forma a rectangular */
  width: auto;
  height: auto;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin-left: 20px; /* Agregar margen izquierdo para separar del texto */
}

.close-cart:hover {
  background-color: #0056b3;
}

/* Responsivo para pantallas pequeñas */
@media (max-width: 768px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .cart-footer {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .cart-footer button {
    width: 100%;
  }
}
