.Record-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(/assets/fondoBody-DYvF44ZK.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.Record-component .row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px; /* Ajusta el ancho máximo deseado */
  padding: 100px 20px; /* Margen izquierdo y derecho ajustable */
}

.Record-component .form-container {
  width: 100%;
  max-width: 400px;
  padding: 15px; /* Reduce el padding para celus */
  background-color: rgba(146, 197, 150, 0.8); /* Fondo con transparencia */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9); /* Sombra más pronunciada */
  margin-bottom: 20px;
}

.Record-component .colm-form {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.Record-component .colm-form .form-container {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6), 0 8px 16px rgba(0, 0, 0, 0.6);
  margin-bottom: 30px;
  padding: 20px;
  max-width: 600px;
}

.Record-component .colm-form .form-container input,
.Record-component .colm-form .form-container .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.Record-component .colm-form .form-container input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.Record-component .colm-form .form-container input:focus {
  border-color: #333;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.Record-component .colm-form .form-container .btn-login {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.Record-component .colm-form .form-container .btn-login:hover {
  background-color: #36a420;
}

.Record-component .colm-form .form-container a {
  display: block;
  color: #333;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0 20px;
  border-bottom: 1px solid #dadde1;
}

.Record-component .colm-form .form-container a:hover {
  text-decoration: underline;
}

.Record-component h2 {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.3); /* Color #333333 con 20% de opacidad */
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .Record-component h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .Record-component h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .Record-component h2 {
    font-size: 1.25rem;
  }
}
/* Agregar animación de borde en el input */
@keyframes borderAnimation {
  0% {
    border-color: #42b72a;
    box-shadow: -2px 0 0 0 #42b72a;
    border-radius: 10px;
  }
  25% {
    border-color: #42b72a;
    box-shadow: 0 2px 0 0 #42b72a;
    border-radius: 10px;
  }
  50% {
    border-color: #42b72a;
    box-shadow: 2px 0 0 0 #42b72a;
    border-radius: 10px;
  }
  75% {
    border-color: #42b72a;
    box-shadow: 0 -2px 0 0 #42b72a;
    border-radius: 10px;
  }
  100% {
    border-color: #42b72a;
    box-shadow: -2px 0 0 0 #42b72a;
    border-radius: 10px;
  }
}

.Record-component .form-container input:focus {
  border-color: #42b72a;
  box-shadow: 0 0 5px #42b72a;
  animation: borderAnimation 1s infinite;
  border-radius: 10px; /* Bordes redondeados */
}
