.Record-component {
  background-image: url(/src/assets/img/fondoBody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Record-component .record-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 100px;
}

@media (max-width: 992px) {
  .Record-component .record-form-container {
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .Record-component .record-form-container {
    padding-top: 90px;
    padding-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .Record-component .record-form-container {
    padding-top: 70px;
    padding-bottom: 30px;
  }
}

.Record-component .form-wrapper {
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 600px;
  width: 100%;
  margin: 0 20px;
  background-color: white; /* Add background color for better visibility */
}

.Record-component .form-wrapper input, 
.Record-component .form-wrapper .btn-login {
  width: 100%;
  margin: 5px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.Record-component .form-wrapper input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.Record-component .form-wrapper input:focus {
  border-color: #333;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.Record-component .form-wrapper .btn-login {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.Record-component .form-wrapper .btn-login:hover {
  background-color: #36a420;
}

.Record-component h2 {
  font-size: 2rem;
  font-weight: bold;
  background-color: rgba(51, 51, 51, 0.1); /* Color #333333 con 20% de opacidad */
  padding: 10px;
  border-radius: 4px;
}

@media (max-width: 992px) {
  .Record-component h2 {
    font-size: 1.75rem;
  }
}

@media (max-width: 768px) {
  .Record-component h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .Record-component h2 {
    font-size: 1.25rem;
  }
}
