.contacto {
  background-color: #333;
  color: white;
  padding: 20px 0;
  text-align: center;
}



.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.main-content {
  padding: 20px;
}

.main-content h1 {
  margin-bottom: 20px;
}

.main-content p {
  margin-bottom: 20px;
  color: #bbb;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  margin-bottom: 5px;
  color: #bbb;
}

form input,
form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
  background-color: #444;
  color: white;
}

form input[type="submit"] {
  background-color: #1e90ff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0069d9;
}

.link {
  color: #1e90ff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
