.Contact-component {
  background-image: url(/src/assets/img/fondoBody.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-contact-content {
  max-width: 60% !important;
  padding: 0px !important;
  color: #333333; /* Color del texto principal */
  text-shadow: 1px 1px 1px rgb(255, 255, 255); /* Añade sombra al texto */
  margin-bottom: 50px;
}

.form {
  margin: 20px 0;
}

.cont-contact {
  max-width: 975px;
  margin: auto;
  padding: 20px;
  color: #333333; /* Color del texto */
  display: flex;
}

.subtitle-contact {
  font-size: 3vw; /* tamaño base */
  font-weight: bolder;
  display: flex;
  justify-content: center;
  padding-top: 100px; /* Ajuste del padding superior */
  margin-bottom: 30px; /* Espacio inferior */
}

.ball-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-icons {
  margin: 0 10px;
  font-size: 3vw; /* Asegúrate de que este tamaño coincida con el texto */
}

.ball-icons img {
  width: 1em; /* Ajusta el tamaño de la imagen para que coincida con el tamaño del texto */
  height: auto; /* Mantiene la proporción de la imagen */
  display: inline-block; /* Asegura que la imagen se alinee correctamente con el texto */
}

.info {
  margin-bottom: 20px;
  right:  0%;
  margin-left: 0px;
  padding-left: 0px;
}

.info a {
  color: #333333; /* Color de los enlaces */
  text-decoration: none;
  font-size: 32px; /* tamaño base */
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.info a:hover {
  color: #258d19; /* Color de hover */
}

.info p {
  font-size: 24px; /* tamaño base */
  font-weight: bold;
}

.info p strong {
  color: #258d19;
}

.contact-list li p a {
  font-size: 24px; /* tamaño base */
  font-weight: bold;
}

.contact-list li p {
  font-size: 24px; /* tamaño base */
  font-weight: bold;
}

.contact-list li p strong {
  color: #258d19;
}

.line-orange {
  display: block;
  width: 50%;
  height: 3px;
  background-color: #e55812;
  margin: 10px 0;
}

li {
  list-style: none;
}

.title-contact {
  display: flex;
  justify-content: center;
}

.contact-list {
  display: flex;
  justify-content: center;
  font-size: 24px; /* tamaño base */
}

a {
  color: #333333; /* Color de los enlaces */
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #258d19; /* Color de hover */
}

/* Breakpoints */
@media (max-width: 1200px) {
  .subtitle-contact {
    font-size: 22px;
  }

  .info a {
    font-size: 30px;
  }

  .info p, .contact-list li p, .contact-list {
    font-size: 22px;
  }
}

@media (max-width: 992px) {
  .subtitle-contact {
    font-size: 20px;
  }

  .info a {
    font-size: 28px;
  }

  .info p, .contact-list li p, .contact-list {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .subtitle-contact {
    font-size: 18px;
  }

  .info a {
    font-size: 26px;
  }

  .info p, .contact-list li p, .contact-list {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .subtitle-contact {
    font-size: 16px;
  }

  .info a {
    font-size: 24px;
  }

  .info p, .contact-list li p, .contact-list {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .subtitle-contact {
    font-size: 14px;
  }

  .info a {
    font-size: 22px;
  }

  .info p, .contact-list li p, .contact-list {
    font-size: 14px;
  }
}
