body {
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  margin: 0; /* Elimina el margen por defecto */
}

.Contact-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/src/assets/img/fondoBody.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; /* Asegura que no se desborde el ancho del viewport */
}

.main-contact-content {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1; /* Permite que el contenido ocupe todo el espacio disponible */
  padding: 20px;
  margin-left: 20px; /* Añadir margen a la izquierda */
}

.subtitle-contact {
  font-size: 3vw;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px; /* Reducido para ajustar mejor en dispositivos pequeños */
  margin-bottom: 30px;
  margin-left: 20px; /* Añadir margen a la izquierda */
}

.ball-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ball-icons {
  margin: 0 10px;
  font-size: 3vw; /* Ajustado para mantener coherencia */
}

.ball-icons img {
  width: 1em;
  height: auto;
  display: inline-block;
}

.info {
  width: 50%;
  text-align: left;
  margin-bottom: 20px;
}

.info a {
  color: #333333;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.info a:hover {
  color: #258d19;
}

.info p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.info p strong {
  color: #258d19;
}

.contact-list {
  text-align: center;
  margin-top: 20px;
}

.contact-list ul {
  list-style-type: none;
  padding: 0;
}

.contact-list li {
  margin-bottom: 20px;
}

.links-contact-list {
  color: #333333;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.links-contact-list:hover {
  color: #258d19;
}

.line-orange {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e55812;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .subtitle-contact {
    font-size: 22px;
  }

  .info a {
    font-size: 22px;
  }

  .info p {
    font-size: 16px;
  }

  .contact-list {
    font-size: 18px;
  }

  .links-contact-list {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .subtitle-contact {
    font-size: 18px;
    padding-top: 30px; /* Reducido para ajustar mejor en dispositivos pequeños */
  }

  .info a {
    font-size: 20px;
  }

  .info p {
    font-size: 14px;
  }

  .contact-list {
    font-size: 16px;
  }

  .links-contact-list {
    font-size: 18px;
  }
}
