div.container{
    max-width:100% ;
    margin:0 auto;
    
    
  }
  .bg-body-tertiary{
    padding-top:-8px !important;

  }
  
  
  
  .cfc-logo {
    width: 4vw; /* Ancho del 50% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
  }
  .navbar {
   
    position: fixed; /* Fija la barra de navegación en la parte superior */
    width: 100%;
    height: 80px;
    z-index: 1;
    color: #ffffff; /* Cambia el color del texto a verde claro */
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan */
    padding: 0 !important;
    max-width:100% ;
    margin:0 auto;
    background-color: #258D19 !important ;
    box-shadow: 0 10px 6px rgba(0, 0, 0, 0.6);
    
    
    
  
  }
  .nav-link, .item-dropdown {
    font-size: 1vw; /* Usa una unidad relativa para el tamaño del texto */
    font-weight: bold;
    color: #ffffff  !important;
    margin-right: 100px;
    
    
  }
   
  /* Anula el estilo de hover */
  .dropdown-toggle.nav-link:hover,
  .dropdown-toggle.nav-link:focus,
  .dropdown-toggle.nav-link:active {
    color: inherit; /* Mantiene el color original */
    background-color: transparent; /* Elimina el fondo de hover y activo */
    text-decoration: none; /* Elimina cualquier subrayado o decoración de texto */
  }