.container-tournament {
    display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
    flex-direction: row; /* Asegura que los elementos se alineen en una fila */
    width: 100%; /* Asegura que el contenedor principal ocupe el 100% del ancho */
    justify-content: space-between; /* Añade espacio entre los elementos */
    max-width: 80%;
    height: 900px;
     
  }
  .img-tournament{
    width: 800px;
    height: auto;
    margin-right: 230px;
    margin-top: 80px;
  }
  .tournament-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 40%;
    margin-top: 80px;
    color: #014638;
    font-size: 4vw; /* Utiliza unidades relativas para el tamaño del texto */
    font-weight: bold; /* Hace que el texto sea grueso */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sombra de texto */


  }