.dropdown-button {
    margin-right: 15px;
    font-size: 60px;
    width: 150px;
    color: black; /* Asegúrate de que el texto sea visible */
    background-color: #014638;
  }
  
  /* Elimina el margen derecho del último botón */
  .dropdown-button:last-child {
    
    margin-right: 0;
  }
  .buttons-container{
    position: absolute;
    z-index: 2;
    background-color: #014638;
    top:700px;
    left: 50px;
    width: 1000px;
    height: 70px;
  }