* Elimina el margen derecho del último botón */
  .dropdown-button:last-child {
    
    margin-right: 0;
  }
  .buttons-container{
    position: absolute;
    z-index: 2;
    background-color: #014638;
    top:700px;
    left: 50px;
    width: 1000px;
    height: 70px;
    border-radius: 20px;
  }

    /* Estilos para el botón desplegable */
.dropdown-button .dropdown-toggle.btn.btn-primary{
  color:white !important; /* Asegúrate de que el texto sea visible */
  background-color: #014638 !important; /* Dar prioridad a este color de fondo */
  border-color: #014638 !important; /* Asegúrate de que el borde tenga el mismo color */
  font-size: 20px !important;
  margin:10px;
}

/* Estilo para el hover del botón desplegable */
.dropdown-button .dropdown-toggle:hover {
  background-color: #28a745 !important; /* Cambia a un verde más claro */
  border-color: #28a745 !important; /* Cambia el borde a un verde más claro */
}


/* Estilo para cada elemento del menú desplegable */
.dropdown-item {
  background-color:#014638 !important;
  color: white !important;
  margin: 5px;
}

.dropdown-menu.show {
  background-color:#014638 !important;

}
/* Estilo para el hover */
.dropdown-item:hover {

  background-color: #28a745 !important; /* Cambia a un verde más claro */
  border-radius: 10px;

} 
