

/* Header.css */
.container{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.header {
  position: relative;
  display: inline-block; /* Ajusta la altura automáticamente según el contenido */
  overflow: hidden; /* Oculta cualquier contenido desbordante */
  padding:0 !important;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
}
