/* Header.css */

.header {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden; /* Oculta cualquier contenido desbordante */
  
}
.container{
  padding-left: 0px !important;
  padding-right: 0px !important ;
  position: relative; /* Cambiado a relative */
  
}




.background-video {
  width: 100%; /* Ajustado al 100% del contenedor */
  height: auto; /* Ajusta el alto automáticamente para mantener la relación de aspecto */
  min-height: auto; /* Asegura que el video tenga al menos el 100% de la altura del contenedor */
  object-fit: cover; /* Escala el video para cubrir todo el contenedor manteniendo la relación de aspecto */
}


