/* Contenedor principal para el texto y el carrusel */
.container-gallery {
  display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
  flex-direction: row; /* Asegura que los elementos se alineen en una fila */
  width: 100%; /* Asegura que el contenedor principal ocupe el 100% del ancho */
  justify-content: space-between; /* Añade espacio entre los elementos */
  max-width: 80%;
  margin-top: -10px !important;
  
  /* background-image: url('/src/assets/img/1.1.jpg'); */
  background-size: cover;       /* Asegura que la imagen cubra todo el fondo del contenedor */
  background-position: center;   /*Centra la imagen*/
  background-repeat: no-repeat; /* Evita que la imagen se repita */ 
}

.carousel-container {
  flex: 1; /* Permite que el contenedor del carrusel ocupe el 50% del espacio disponible */
  margin: 20px; /* Añade margen para el espaciado */
  padding: 60px;
  border-radius: 6%;
}

.img-carousel {
  border-radius: 6%;
  border-color: black;
}

.gallery-text {
  flex: 1; /* Permite que el contenedor de texto ocupe el 50% del espacio disponible */
  color: #014638; 
  margin: 20px; /* Añade margen para el espaciado */
  max-width: 100%;
  border-radius: 10px;
  font-size: 4vw; /* Utiliza unidades relativas para el tamaño del texto */
  font-weight: bold; /* Hace que el texto sea grueso */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8); /* Sombra de texto */
}





/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 1500px) {
  .container-gallery  {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos en una columna */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .gallery-text{
   
    padding-bottom: 0px;
    margin: 10px 0; /* Ajusta los márgenes para el espaciado vertical */
    flex: none; /* Desactiva el comportamiento flexible */
    width: 70%; /* Hace que cada contenedor ocupe el 100% del ancho */

  }
  .carousel-container {
    flex: none; /* Desactiva el comportamiento flexible */
    width: 75%; /* Hace que cada contenedor ocupe el 100% del ancho */
    margin: 10px 0; /* Ajusta los márgenes para el espaciado vertical */
    padding-top:-30px;
    padding-bottom: 0px;
  
  
  }
}

@media (max-width: 440px) {
  .container-gallery  {
    flex-direction: column; /* Cambia a una columna en pantallas pequeñas */
    align-items: center; /* Centra los elementos en una columna */
    height: auto; /* Ajusta la altura automáticamente */
  }

  .gallery-text{
   
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 10px 0; /* Ajusta los márgenes para el espaciado vertical */
    flex: none; /* Desactiva el comportamiento flexible */
    width: 85%; /* Hace que cada contenedor ocupe el 100% del ancho */
    font-size: 6.5vw;
  }
  .carousel-container {
    flex: none; /* Desactiva el comportamiento flexible */
    width: 85%; /* Hace que cada contenedor ocupe el 100% del ancho */
    margin: 10px 0; /* Ajusta los márgenes para el espaciado vertical */
    padding: 0px;
  
  
  }
}
