/* Contenedor principal para el texto y el carrusel */
.container-gallery {
  display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
  flex-direction: row; /* Asegura que los elementos se alineen en una fila */
  width: 100%; /* Asegura que el contenedor principal ocupe el 100% del ancho */
  justify-content: space-between; /* Añade espacio entre los elementos */
  max-width: 80%;
  margin-top: -10px !important;
  
 

}

.carousel-container {
  flex: 1; /* Permite que el contenedor del carrusel ocupe el 50% del espacio disponible */
  margin: 20px; /* Añade margen para el espaciado */
  padding: 60px;
  border-radius: 6%;
}

.img-carousel {
  border-radius: 6%;
  border-color: black;
}

.gallery-text {
  flex: 1; /* Permite que el contenedor de texto ocupe el 50% del espacio disponible */
  margin: 20px; 
  max-width: 100%;
  border-radius: 10px;
  font-size: 4vw; 
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #022720;
  text-shadow: 
    -1px -1px 0 #ffffff,  
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff,  
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;  
}





/* Consulta de medios para pantallas más pequeñas */
@media (max-width: 1500px) {
  .container-gallery  {
    flex-direction: column; 
    align-items: center;
    height: auto; 
  }

  .gallery-text{
   
    padding-bottom: 0px;
    margin: 10px 0; 
    flex: none; /* Desactiva el comportamiento flexible */
    width: 70%; 

  }
  .carousel-container {
    flex: none; /* Desactiva el comportamiento flexible */
    width: 75%; 
    margin: 10px 0; 
    padding-top:-30px;
    padding-bottom: 0px;
  
  
  }
}

@media (max-width: 440px) {
  .container-gallery  {
    flex-direction: column; 
    align-items: center; 
    height: auto; 
  }

  .gallery-text{
   
    padding-top: 30px;
    padding-bottom: 0px;
    margin: 10px 0; 
    width: 85%; 
    font-size: 6.5vw;
  }
  .carousel-container {
    flex: none; /* Desactiva el comportamiento flexible */
    width: 85%; 
    margin: 10px 0; 
    padding: 0px;
  
  
  }
}
