.reservation-button {
    color: white;
    font-size: 200px;
    text-align: center;
   
}
/* Estilo para el contenedor de la reservación */
.reservation-container {
    position: absolute;
    top: 600px; /* Ajusta este valor para mover el contenedor hacia arriba o abajo */
    left: 200px; /* Ajusta este valor para mover el contenedor hacia la izquierda o derecha */
    z-index: 2; /* Asegura que el contenedor esté encima del video */
    background-color: #014638;
    padding:10px;
    border-radius: 10px;
    width: 400px;
    height: 60px;

}


