/* Estilos generales del footer */
.footer {
  margin-top: 10px;
  background-color: #333;
  color: white;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin: 10px;
}

.footer-column h5 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* Estilos para el logo */
.logo_sin_fondo_bw {
  max-width: 20%; /* Ajusta el tamaño máximo según sea necesario */
  height: auto;
}

/* Estilos para los enlaces "Accesos útiles" */
.footer-column ul {
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
}

/* Dividir en dos columnas para pantallas grandes */
@media (min-width: 768px) {
  .footer-column ul {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 1;
  }
}

.footer-column ul li {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.5;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
}

.footer-column a:hover {
  color: #bbb;
  transform: rotate(360deg);
}

/* Estilos para los íconos sociales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: #bbb;
  font-size: 20px;
  transition: transform 0.5s ease-in-out;
}

.social-icons a:hover {
  color: white;
}

/* Estilos para la sección inferior del footer */
.footer-bottom {
  text-align: center;
  border-top: 1px solid #444;
}

.footer-bottom p {
  margin: 2px 0;
  font-size: 14px;
}

/* Media queries para ajustes responsivos */
@media (max-width: 768px) {
  .footer-column {
    flex: 100%;
    max-width: 100%;
    margin: 10px 0;
  }

  .footer-column h5 {
    font-size: 18px;
  }

  .footer-column ul li {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 18px;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .footer-column h5 {
    font-size: 16px;
  }

  .footer-column ul li {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 16px;
  }

  .footer-bottom p {
    font-size: 10px;
  }
}
