.footer {
  background-color: #077F11;
  color: #FCF9F9;
  padding: 30px 0;
}

.footer-logo {
  width: 150px;
  height: auto;
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #FCF9F9;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #B5B3B3;
}

.social-icons {
  display: inline-block;
}

.social-icons .btn {
  padding: 0;
  color: #FCF9F9;
  transition: color 0.3s ease;
}

.social-icons .btn:hover {
  color: #495149;
}
