.advertising-container {
    width: 100%; 
    overflow: hidden; 
    background-color: #b8eca086;
    padding: 20px 0; 
    position: relative;
}

.advertising-text {
    display: inline-block; 
    white-space: nowrap;  
    font-size: 3vw; 
    font-weight: bold; 
    animation: scroll-left 15s linear infinite; /* Animación para desplazar el texto hacia la izquierda */
    color: #022720;
    text-shadow: 
      -1px -1px 0 #ffffff,  
       1px -1px 0 #ffffff,
      -1px  1px 0 #ffffff,
       1px  1px 0 #ffffff,  
      -2px -2px 0 #ffffff,
       2px -2px 0 #ffffff,
      -2px  2px 0 #ffffff,
       2px  2px 0 #ffffff;  
}

@keyframes scroll-left {
    0% {
        transform: translateX(100%); /* Inicia el texto fuera de la vista a la derecha */
    }
    100% {
        transform: translateX(-100%); /* Mueve el texto completamente fuera de la vista a la izquierda */
    }
}

@media (max-width: 1000px) {
    .advertising-text {
        font-size: 3.5vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}

@media (max-width: 700px) {
    .advertising-text {
        font-size: 4.5vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
}


@media (max-width: 450px) {
    .advertising-text {
        font-size: 5vw; /* Ajusta el tamaño del texto para pantallas más pequeñas */
    }
    .advertising-container {
        margin-top:-30px;

       

    }
}
