.Error404-component {
  background-image: url(/src/assets/img/Fondo-galeria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-content-error {
  padding-top: 120px;
  padding-bottom: 50px;
  width: 80%;
  margin: 0 auto;
  /* background-color: rgba(255, 255, 255, 0.6); */
  text-align: center;  /* Centra el texto */
  border-radius: 10px;  /* Opcional: Añade bordes redondeados */
}

.main-content-error h2 {
  margin-bottom: 5px;
  font-size: 2.5vw;
  color: #333;
  text-align: center;
  font-weight: bold;
}

.error-gif {
  width: 70%;
  max-width: 400px;  /* Ajusta el tamaño máximo del GIF */
  height: auto;
  margin: 20px 0;
}

.main-content-error p {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
  font-size: 1vw;
 font-weight: bold;
  text-align: center;
}


.link-error {
  color: #333333; /* Color de los enlaces */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.link-error:hover {
  color: #258d19; /* Color de hover */
}

