body {
  font-family: "PT Sans", sans-serif;

  background-image: url('/src/assets/img/fondoBody.jpg'); 
    background-size: cover;       
    background-position: center;   
    background-repeat: no-repeat; 
  
} 
 /* body {
  width: 100%;
  background: url("src/assets/img/body2.jpg") center repeat;
  background-size: 300%;
  max-width: 100%px;
 
  animation: moveBackground 120s linear infinite; 
}

@keyframes moveBackground {
  0% {
    background-position: 600% 0%;
  }
  100% {
    background-position: 0% 600%;
  } 
} */