body {
  font-family: "PT Sans", sans-serif;

  /* background-color: #f50f0f; 
  background-image: url('/src/assets/img/fondoBody.jpg'); 
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat; 
  background-attachment: fixed;  */
  
} 
.Container-Main{  
  background-image: url('/src/assets/img/fondoBody.jpg'); 
  background-size: cover;       
  background-position: center;   
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  

}
