body {
  background-image: url(/src/assets/img/Fondo-galeria.jpg);
  background-size: cover; /* Ajusta el ancho al 50% del contenedor y la altura automáticamente */
  background-repeat: no-repeat;
  background-position: center;
}

.main-content {
  padding-top: 150px;
  max-width: 100%;
  margin: 0 auto;
}

.main-content h1 {
  margin-bottom: 20px;
  font-size: 2.5em;
  color: #333;
  text-align: center;
}

.main-content p,
.main-content ul {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}

.main-content ul {
  padding-left: 20px;
}

.main-content ul li {
  margin-bottom: 10px;
}

.main-content ul li a {
  color: #333333; /* Color de los enlaces */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.main-content ul li a:hover {
  color: #258d19; /* Color de hover */
}

.main-content p a {
  color: #333333; /* Color de los enlaces */
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.main-content p a:hover {
  color: #258d19; /* Color de hover */
}


.link {
  color: #1e90ff;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-top: 20px;
}

.link:hover {
  text-decoration: underline;
}
