.Sponsors {
  background-size: cover; /* Asegura que la imagen cubra todo el fondo del contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  padding-bottom: 100px;
}

.text-sponsors {
  font-weight: bold;
  font-size: 3vw; /* Tamaño de texto inicial */
  text-align: center;
  padding-bottom: 30px;
  color: #022720;
  text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #ffffff,
     1px  1px 0 #ffffff,
    -2px -2px 0 #ffffff,
     2px -2px 0 #ffffff,
    -2px  2px 0 #ffffff,
     2px  2px 0 #ffffff;
}

.overflow-hidden {
  overflow: hidden; /* Asegura que el contenido no cause scroll */
}

.img-sponsors-wrapper {
  display: flex;
  width: 200%;
}

.img-sponsors {
  display: flex;
  width: 50%;
  animation: scroll-horizontal 30s linear infinite; /* Aplica la animación aquí */
}

.img-sponsors img {
  max-width: 200px;
  width: 100%;
  margin-left: 10px;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0); /* Comienza visible en la pantalla */
  }
  100% {
    transform: translateX(-50%); /* Mueve el contenido a la izquierda */
  }
}

/* Media Queries para pantallas medianas */
@media (max-width: 992px) {
  .text-sponsors {
    font-size: 5vw; /* Aumenta el tamaño del texto */
  }

  .img-sponsors img {
    max-width: 250px; /* Aumenta el tamaño máximo de las imágenes */
  }
}

/* Media Queries para pantallas pequeñas */
@media (max-width: 576px) {
  .text-sponsors {
    font-size: 7vw; /* Aumenta aún más el tamaño del texto */
  }

  .img-sponsors img {
    max-width: 300px; /* Aumenta aún más el tamaño máximo de las imágenes */
  }
}
